<!DOCTYPE html>
<html>
<head>
    <title>Chelsea FC Trivia</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/script.js"></script>
</head>
<body>
    <div class="card">
        <h1>{{ question }}</h1>
        <div id="result-message"></div>
        <div class="options">
            <button class="option-btn" data-question-id="123">{{ option1 }}</button>
            <button class="option-btn" data-question-id="123">{{ option2 }}</button>
            <button class="option-btn" data-question-id="123">{{ option3 }}</button>
        </div>
    </div>
</body>
</html>